<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>
        Play QMaster
    </title>
</head>
<body>
    <input type="hidden" id="indices" th:value="${working_indices}"/>
    <section class = "box grabbable-parent">
        <div th:each="r : ${indices}">
            <img class = "item" draggable = true  th:src="@{${'/qfiles/row-'+(r/5+1)+'-column-'+(5-(r%5))+'.png'}}" data-grabbable-index="${r}" th:id="${r}" th:ondragend="updateWorkingIndices()">
        </div>
        <!-- </th:block> -->
    </section>
    <button type="submit" value="Check" onsubmit="onSubmit()"> Check Order </button>
    <script th:src="@{/js/grabbable.js}"></script>
    <script >
        
        document.querySelector(".grabbable-parent").grabbable({
        callback: function(el, newIndex, oldIndex) {
            rememberId: "grabbable-sample"
            let indicesString = document.getElementById("indices").value;
            var indices = indicesString.trim().split(" ");
            console.log(indices + "-" + newIndex + "-" + oldIndex);
            let toSwap = indices[oldIndex];
            indices.splice(newIndex, 0, toSwap);
            indices.splice(oldIndex+1, 1);
            document.getElementById("indices").value = indices.join(" ");
            
            //alert("Grabbed!\n"+ indices[newIndex] + " -> " + indices[oldIndex]);
            console.log(indices);
            //alert("Grabbed!\n"+  + newIndex + " -> " + oldIndex);
            //updateWorkingIndices(newIndex, oldIndex);
        }
        });
        
        function updateWorkingIndices(){
            //var val = document.getElementById("#yourId").val();
            //alert(" - " + " - " );
        }
    </script>
</body>
</html>