<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <script>
        function generateRandomColor(){
            let maxVal = 0xFFFFFF; // 16777215.
            let randomNumber = Math.random() * maxVal;
            randomNumber = Math.floor(randomNumber);
            randomNumber = randomNumber.toString(16);
            let randColor = randomNumber.padStart(6, 0);
            return `#${randColor.toUpperCase()}`
        }

        function setBg(el) {
            
            let indicesString = document.getElementById("indices").value;
            var indices = indicesString.trim().split(" ");
            //alert(indices[document.getElementById("last_updated").value] +" - " +document.getElementById("last_updated").value);
            if (indices[document.getElementById("last_updated").value] == document.getElementById("last_updated").value){
                //alert("Yes");
                el.style.backgroundColor= "#fff";
            }
            else{
                el.style.backgroundColor= generateRandomColor();
            }
        }
        function arrange(){
            let difficultyIndex = document.getElementById("difficulty").value;
            //alert("here");
            //document.getElementsByClassName(".box .grabbable-parent").style.gridTemplateColumns = "50px 50px 50px";
            document.getElementById("grids").style.gridTemplateColumns = "repeat("+difficultyIndex+",  auto)";
            //document.getElementsByClassName(".item").style.backgrounndColor= generateRandomColor();
            //document.getElementsByClassName(".item").style.backgrounndColor= generateRandomColor();
            
        }
    </script>
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>
        Play QMaster
    </title>
</head>
<body onload="arrange()" >
    <input type="hidden" id="indices" th:value="${working_indices}"/>
    <input type="hidden" id="difficulty" th:value="${difficulty}"/>
    <input type="hidden" id="last_updated" th:value="${last_updated}"/>
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>
    <section class="nav_pane">
        <div id="mySidebar" class="sidebar">
            <ul>
            <p class = "juz-level">Juz 1</p>
            <li class="nav-list" th:each="i : ${#numbers.sequence( 1, 604)}" th:value="${i}"><span th:text="${'📄 PAGE ' + i}"></span><span class="fill-up"></span><p class = "opening" th:text="${page_openings[i - 1]}"></p>
                <th:block th:if="${(i - 2) % 20 == 0 && i != 2 && i < 602}" ><br><p class = "juz-level" th:text="${'Juz '+ (( i - 2 ) /20 + 1 )}"></p></th:block>
            </li>
            </ul>
          </div>
    </section>
        
    <div class = "wrapper">
    <div id="myProgress">
        <div id="myBar"></div>
    </div>

    <section class = "box grabbable-parent" id="grids">
        <div th:each="r : ${indices}" class="holder">
            <img class = "item" draggable = true  
            th:src="@{${'/qfiles/'+ difficulty +'_15/page'+#numbers.formatInteger(page_number, 3) + '_' + #numbers.formatInteger(((r / difficulty) * difficulty) + (difficulty - (r % difficulty)), 3) +'.png'}}" 
            data-grabbable-index="${r}" th:id="${r}"  width="${1100/difficulty}+'px" 
            onload="setBg(this)" ondragend="setBg(this)">
        </div>
    </section>
    </div>
    <div class = "buttons">
        <button class = "mybutton" width = "150px'" type="submit" value="Check" onsubmit="previousPage()"> <<< Previous </button>
        <button class = "mybutton" width = "150px'" type="submit" value="Check" onsubmit="nextPage()"> Next >>> </button>
    </div>
    <script th:src="@{/js/grabbable.js}"></script>
    <script >
        function array_move(arr, old_index, new_index) {
            if (new_index >= arr.length) {
            var k = new_index - arr.length + 1;
            while (k--) {
            arr.push(undefined);
            }
        }
        arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
        //return arr; // for testing
        };
        document.querySelector(".grabbable-parent").grabbable({
        callback: function(el, newIndex, oldIndex) {
            rememberId: "grabbable-sample"
            var correctGrids = 0;
            
        
            let indicesString = document.getElementById("indices").value;
            var indices = indicesString.trim().split(" ");
            var correctGrids = 0;
            var totalGrids = indices.length;
            console.log(indices + "-\n" + newIndex + "-\n" + oldIndex);
            array_move(indices, oldIndex, newIndex);
            // let toSwap = indices[oldIndex];
            // indices.splice(newIndex, 0, toSwap);
            // indices.splice(oldIndex+1, 1);
            document.getElementById("indices").value = indices.join(" ");
            document.getElementById("last_updated").value = newIndex;
            var progress = document.getElementById("myBar");
            //alert("No "+document.getElementById("last_updated").value);
            // alert(indices[newIndex] + " - "+ document.getElementById("last_updated").value);
            // if (indices[newIndex] == newIndex){
            //alert("Yes");
            // }
            //if el.getElementById()
            //alert("Grabbed!\n"+ indices[newIndex] + " -> " + indices[oldIndex]);
            for(let i = 0; i < indices.length; i++){
            let el = document.getElementById(i);
            if (indices[i] == i){
                //alert("Yes");
                el.style.backgroundColor= "#fff";
                correctGrids++;
            }
            else{
                el.style.backgroundColor= generateRandomColor();
            }
            progress.style.width = correctGrids/totalGrids*100 + "%";
            }
            //alert("Grabbed!\n"+  + newIndex + " -> " + oldIndex);
            //updateWorkingIndices(newIndex, oldIndex);
        }
        });
        
        function updateBgColor(id){
            //var val = document.getElementById("#yourId").val();
            //alert(" - " + " - " );
            let indicesString = document.getElementById("indices").value;
            var indices = indicesString.trim().split(" ");

        }
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNav() {
        if (document.getElementById("mySidebar").style.width == "250px") {
            
            this.closeNav();
        }
        else {
            document.getElementById("mySidebar").style.width = "250px";
        }
        //document.getElementById("main").style.marginLeft = "10px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
        document.getElementById("mySidebar").style.width = "0px";
        //document.getElementById("main").style.marginLeft = "50px";
        } 
    </script>
</body>
</html>